
.container{
  max-width:375px;
  margin: auto;
}
.computer{
  height: 600px;
  background-color: rgba(#161616,.7);
  color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 30px 1px rgba(0,0,0,.1);


}
.computer{
  background: #fff;

}
