
<div class="container">
  <div class="computer">
    <div class="count-export">
      <h1>{{exportNum}}</h1>
    </div>
    <div class="count-input">
      <ul class="buttons">
        <li>
          <div class="button" (click)="clearNum()">AC</div>
        </li>
        <li>
          <div class="button">+/-</div>
        </li>
        <li>
          <div class="button">%</div>
        </li>
        <li>
          <div class="button" (click)="calculate('/')">/</div>
        </li>
        <li>
          <div class="button" (click)="doNum('7')">7</div>
        </li>
        <li>
          <div class="button" (click)="doNum('8')">8</div>
        </li>
        <li>
          <div class="button" (click)="doNum('9')">9</div>
        </li>
        <li>
          <div class="button" (click)="calculate('*')">*</div>
        </li>
        <li>
          <div class="button" (click)="doNum('4')">4</div>
        </li>
        <li>
          <div class="button" (click)="doNum('5')">5</div>
        </li>
        <li>
          <div class="button" (click)="doNum('6')">6</div>
        </li>
        <li>
          <div class="button" (click)="calculate('-')">-</div>
        </li>
        <li>
          <div class="button" (click)="doNum('1')">1</div>
        </li>
        <li>
          <div class="button" (click)="doNum('2')">2</div>
        </li>
        <li>
          <div class="button" (click)="doNum('3')">3</div>
        </li>
        <li>
          <div class="button" (click)="calculate('+')">+</div>
        </li>
        <li>
          <div class="button" (click)="doNum('0')">0</div>
        </li>
        <li>
          <div class="button">.</div>
        </li>
        <li>
          <div class="button" (click)="total()">=</div>
        </li>
      </ul>
    </div>
  </div>
</div>
