
.container{
  max-width:375px;
  margin: auto;
}
.computer{
  height: 600px;
  background-color: rgba(#161616,.7);
  color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 50px rgba(0,0,0,.3);


}
