
 <div class="count-input">
  <ul class="buttons">
    <li>
      <div class="button" [ngClass]="{'onclick': onclick}" (click)="exportsvc.clearNum()">AC</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.negative()">+/-</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.percent()">%</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.calculate('/')">/</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('7')">7</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('8')">8</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('9')">9</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.calculate('*')">*</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('4')">4</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('5')">5</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('6')">6</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.calculate('-')">-</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('1')">1</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('2')">2</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('3')">3</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.calculate('+')">+</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('0')">0</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.doNum('.')">.</div>
    </li>
    <li>
      <div class="button" (click)="exportsvc.total()">=</div>
    </li>
  </ul>
</div>
